div.login-container{
  div.task-list-container{
    width: 80%;
    margin: 0 auto;
    table {
      background-color: inherit;
      width: 100%;
      tbody{
        tr.selected{
          background-color: #b45d4c;
        }
      }
    }
  }
}